/* --------------- btn --------------- */
.btn {
  display: inline-block;
  position: relative;

  &:before {
    display: block;
    @include absoluteCenterY();
    left: 0;
    width: 100%;
    height: 0;
    background: $btns-hover-back;
    transition: all .3s ease-in-out;
    content: '';
  }

  span {
    display: block;
    position: relative;
    min-width: 130px;
    z-index: 1;
    padding: 7px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: $btns-color;
    border: 2px solid $btns-border;
    transition: color .3s ease-in-out;
  }

  &:hover {

    &:before { height: 100%; }

    span { color: $btns-hover-color; }
  }

  &_type2 {
    display: block;

    span { border-color: transparent; }

    &:before { background: $btns-type2-hover-back; }
  }
}

@media (min-width: $portrait) {
  .btn {
    span {
      min-width: 215px;
      padding: 19px 10px;
      font-size: 18px;
    }
  }
}
/* --------------- /btn --------------- */