/*---------- btns ----------*/
$btns-color: #a0b3b9;
$btns-hover-color: #fff;
$btns-border: #a0b3b9;
$btns-hover-back: #a0b3b9;
$btns-type2-hover-back: #f0d2b0;
/*---------- /btns ----------*/

/*---------- collection ----------*/
$collection-color: #797979;
$collection-back: #fff;
$collection-title-color: #f0d2b0;
$collection-wrap-border: #a0b3b9;
$collection-pic-border: #fff;
/*---------- /collection ----------*/

/*---------- custom-scroll ----------*/
$custom-scroll-back: #797979;
/*---------- /custom-scroll ----------*/

/*---------- follow-us ----------*/
$follow-us-color: #707070;
$follow-us-border: #707070;
$follow-us-linkedin-back: #0177b5;
$follow-us-pinterest-back: #ed1c24;
$follow-us-facebook-back: #3b5998;
$follow-us-twitter-back: #41abe1;
/*---------- /follow-us ----------*/

/*---------- menu ----------*/
$menu-border: #f0d2b0;
$menu-line: #797979;
$menu-hover-line: #f0d2b0;
$menu-wrap-back: #f0d2b0;
$menu-wrap-line: #797979;
$menu-wrap-after-back: url("../img/menu-arrow.png") no-repeat center;
$menu-item-color: #797979;
$menu-item-hover-color: #fff;
/*---------- /menu ----------*/

/*---------- most-wanted ----------*/
/*---------- /most-wanted ----------*/

/*---------- must-have ----------*/
$must-have-color: #797979;
$must-have-title-color: #839da5;
$must-have-face-back: rgba(255,255,255, .4);
$must-have-site-title-color: #fff;
/*---------- /must-have ----------*/

/*---------- news ----------*/
$news-color: #292929;
$news-title-color: #fff;
$news-back: #fff;
$news-border: #fff;
$news-back-border: #fff3eb;
$news-back-arrow: url('../img/arrow.png');
/*---------- /news ----------*/

/*---------- philosophy ----------*/
$philosophy-back: rgba(255,255,255,.3);
$philosophy-border: #797979;
$philosophy-color: #565656;
/*---------- /philosophy ----------*/

/*---------- sale ----------*/
$sale-item-border: #868888;
$sale-price-color: #fff;
$sale-info-color: #302824;
$sale-site-title-color: #d1cfcf;
$sale-site-title-portrait-color: #fff;
/*---------- /sale ----------*/

/*---------- site ----------*/
$site-back: #fff;
$site-color: #797979;
$site-header-back: url("../img/header-bg.jpg");
/*---------- /site ---------*/
