/* --------------- collection --------------- */
.collection {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 400px;
  background: $collection-back;

  .site__title {
    position: absolute;
    top: 20px;
    left: 5px;
  }

  &__wrap {
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 40px;
    z-index: 1;
    border: 2px solid $collection-wrap-border;
    border-right: none;
  }

  &__info {
    position: absolute;
    bottom: 8vh;
    left: 6vw;
    width: 70vw;

    p {
      margin-bottom: 10px;
      color: $collection-color;
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: $font-title;
    font-size: 18px;
    color: $collection-title-color;
  }

  &__pic {
    display: block;
    position: absolute;
    top: 4vh;
    right: 0;
    left: 40px;
//    width: 597px;
//    height: 479px;
    height: 40vh;
    z-index: 2;
    background-size: cover;
    background-position: center;
    box-shadow: 12px 12px 0 $collection-pic-border, -12px -12px 0 $collection-pic-border;
  }
}

@media (min-width: $portrait) {
  .collection {

    .site__title {
      top: 20px;
      left: 45px;
    }

    &__wrap {
      top: 50px;
      right: 0;
      bottom: 50px;
      left: 187px;
    }

    &__info {
//      top: 100px;
//      right: 20%;
      top: 19vh;
      right: 6vw;
      bottom: auto;
      left: auto;
      width: 327px;

      p {
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
      }
    }

    &__title {
      margin-bottom: 24px;
      font-size: 36px;
      letter-spacing: 3px;
    }

    &__pic {
      top: 70px;
      right: auto;
      left: 112px;
//      width: 35vw;
//      height: 40vh;
      width: 50vw;
      height: 63vh;

      &:before,
      &:after { height: 18px; }
    }
  }
}

@media (min-width: $desktop) {
  .collection {


  }
}
/* --------------- /collection --------------- */

