/* --------------- must-have --------------- */
.must-have {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .site__title {
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: 3;
    color: $must-have-site-title-color;
  }

  &__item {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 80%;

    &:hover {

      .must-have__bg:before { background: transparent; }

      .must-have__wrap {
        bottom: 6%;
        opacity: 1;

        p {
          top: 0;
          opacity: 1;
        }
      }
    }

    &:first-of-type .must-have__bg {
      top: 0;
      bottom: -30%;
    }
  }

  &__bg {
    position: absolute;
    top: -30%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $must-have-face-back;
      transition: background .3s ease-in-out;
      content: '';
    }
  }

  &__wrap {
    @include absoluteCenterX();
    bottom: 0;
    width: 40%;
    z-index: 2;
    opacity: 0;
    font-size: 3vw;
    line-height: 4vw;
    color: $must-have-color;
    transition: all .3s ease-in-out;

    p {
      position: relative;
      top: 10px;
      opacity: 0;
      transition: all .3s ease-in-out .2s;
    }
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 7vw;
    line-height: 8vw;
    color: $must-have-title-color;
    font-family: $font-title;
    font-weight: 400;
  }
}

@media (min-width: $portrait) {
  .must-have {

    .site__title {
      top: 20px;
      right: 45px;
    }

    &__item {
      width: 50%;
      padding-bottom: 40%;
      transition: all .5s ease-in-out;
    }

    &__wrap {
      font-size: 14px;
      line-height: 22px;

      &:hover { bottom: 40px; }
    }

    &__title {
      margin-bottom: 21px;
      font-size: 36px;
      line-height: normal;
      letter-spacing: 3px;
    }
  }
}
/* --------------- /must-have --------------- */

