/* --------------- must-have --------------- */
.must-have {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .site__title {
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: 3;
    color: #fff;
  }

  &__item {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    &:hover {

      .must-have__bg {
        filter: none;

        &:before { background: transparent; }
      }

      .must-have__wrap {
        bottom: 10%;
        opacity: 1;
      }
    }
  }

  &__bg {
    position: absolute;
    top: -20%;
    right: 0;
    bottom: -20%;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.5);
      transition: background .3s ease-in-out;
      content: '';
    }
  }

  &__wrap {
    @include absoluteCenterX();
    bottom: 0;
    width: 50%;
    z-index: 2;
    opacity: 0;
    font-size: 3vw;
    line-height: 4vw;
    color: #797979;
    transition: all .3s ease-in-out;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 7vw;
    line-height: 8vw;
    color: #839da5;
    font-family: $font-title;
    font-weight: 400;
  }
}

@media (min-width: $portrait) {
  .must-have {

    .site__title {
      top: 20px;
      right: 45px;
    }

    &__item {
      width: 50%;
      padding-bottom: 50%;
      transition: all .5s ease-in-out;
    }

    &__wrap {
      font-size: 14px;
      line-height: 22px;

      &:hover {
        bottom: 40px;
        opacity: 1;
      }
    }

    &__title {
      margin-bottom: 30px;
      font-size: 36px;
      line-height: normal;
    }
  }
}

@media (min-width: $desktop) {
  .must-have {


  }
}
/* --------------- /must-have --------------- */

