/* --------------- news --------------- */
.news {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 40px 9px;
  background: $news-back;

  &__item {
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 9px solid $news-border;

    > img {
      display: block;
      width: 100%;
    }

    &-wrap {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      align-content: center;
      position: absolute;
      top: 18px;
      right: 53px;
      bottom: 18px;
      left: 53px;
      padding: 6% 10%;
      border: 2px solid $news-back-border;
      border-width: 2px 2px 2px 0;
      transition: transform .5s ease-in-out;
      transform: scale(0);

      &:before {
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        width: 2px;
        height: 21px;
        background: $news-back-border;
        z-index: 2;
        content: '';
      }

      &:after {
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 2px;
        height: calc(100% - 51px);
        background: $news-back-border;
        z-index: 2;
        content: '';
      }

      > * {
        position: relative;
        z-index: 2;
      }

      img {
        display: block;
        position: absolute;
        top: -18px;
        left: -53px;
        z-index: 1;
        width: calc(100% + 106px);
        filter: blur(5px);
      }

      p {
        color: $news-color;
        font-size: 3vw;
        line-height: 4vw;
      }
    }

    &:hover {

      .news__item-wrap {
        transform: scale(1);
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 6vw;
    color: $news-title-color;
    font-family: $font-title;
    font-weight: 400;

    &:before {
      display: block;
      position: fixed;
      top: 28px;
      left: 0;
      width: 15px;
      height: 15px;
      background: $news-back-arrow;
      content: '';
    }
  }
}

@media (min-width: $portrait) {
  .news {

    &__item {
      width: 50%;

      &-wrap { display: block; }

      p {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &__title { font-size: 30px; }
  }
}

@media (min-width: $desktop) {
  .news {

    &__item { width: 33.33333%; }
  }
}
/* --------------- /news --------------- */