/*
*   Screen sizes
\*===================================================*/
$portrait: 768px;
$landscape: 992px;
$desktop: 1200px;

/*
*   fonts
\*===================================================*/
$font: 'OpenSans-Light', sans-serif;
$font-bold: 'OpenSans-Bold', sans-serif;
$font-semibold: 'OpenSans-Semibold', sans-serif;
$font-title: 'FARRAY', sans-serif;
